<% if object.errors.any? %>
<div class="errors">
  The form contains <%= pluralize object.errors.count, 'error' %>:
  <ul>
    <% object.errors.full_messages.each do |msg| %>
    <%= content_tag :li, msg %>
    <% end %>
  </ul>
</div>
<% end %>
